/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---- Base Rules ---- */
body {
    background-color: #f9fef8;
    font-family: 'Montserrat', sans-serif;
    color: #2c3232;
    font-size: 16px;
}



.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "nv"
        "mn"
        "ft";
}



/* Typeography General*/
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    display: inline-block;
    position: absolute;
    bottom: 10vh;
}


h2 {
    border-bottom: 1px solid #e7444e;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #454948;
    margin-bottom: 2vh;
}


p {
    font-size: 0.8em;
    line-height: 1.3em;
    color: #8b8a8c;
}


.main__hero h1 {
    color: #454948;
}

/*medium screen*/

@media (min-width: 600px) and (max-width:900px) {

    p {
        font-size: 1.2em;
    }


    h1 {
        font-size: 3.2em;
        right: 10vh;
    }


    h2 {
        font-size: 2.2em;
    }
}

/*large screen*/

@media (min-width:901px) {
    p {
        font-size: 1.2em;
    }


    h1 {
        font-size: 4em;
        right: 10vh;
        bottom: 20vh;
    }


    h2 {
        font-size: 2.5em;
    }
}



/* ---- Layout Rules ---- */
main {
    margin: 5vh 0 10vh;
    grid-area: mn;
}


.main-hero {
    min-height: 40vh;
    padding-top: 3em;
    grid-area: hd;
}


section {
    padding: 10vh 5vh 0 5vh;
    height: 90vh;
}


img {
    max-width: 80%;
    margin: 0 auto;
}


/*large screen*/

@media (min-width:901px) {
    section {
        position: relative;
        padding-top: 20vh;
        height: 90vh;
    }


    img {
        max-width: 40%;
        height: auto;
    }
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.navbar__menu ul {
    padding: 2vh;
    padding-left: 0;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: no-wrap;
    height: 10vh;
}


.navbar__menu li {
    list-style: none;
}


.navbar__menu .menu__link {
    padding: 2vh;
    font-weight: bold;
    text-decoration: none;
    line-height: 5vh;
    color: #8b8a8c;
}


.navbar__menu .menu__link:hover {
    color: black;
    transition: ease 0.3s all;
}


li.your-active-class .menu__link {
    color: black;
}


/* Header Styles */
.page__header {
    background-color: #f9fef8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    grid-area: nv;
    height: 10vh;
}


.head {
    background-image: url('../images/food.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 7vh 0 0 5vh;
}


/* Footer Styles */
.page__footer {
    background: #2c3232;
    padding: 2em;
    text-align: center;
    grid-area: ft;
}


.page__footer p {
    color: #f9fef8;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
section:nth-of-type(even) .landing__container {
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}


section:nth-of-type(odd) .landing__container {
    flex-direction: column;
}


.landing__container .contain {
    padding-bottom: 3vh;
}


@media (min-width:901px) {
    .landing__container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }


    .landing__container .contain {
        width: 60%;
    }


    section:nth-of-type(even) .landing__container .contain {
        padding-right: 5vh;
        padding-left: 10vh;
    }


    section:nth-of-type(odd) .landing__container .contain {
        padding-right: 10vh;
        padding-left: 5vh;
    }


    section:nth-of-type(even) .landing__container {
        padding: 1em;
        text-align: left;
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    section:nth-of-type(odd) .landing__container {
        flex-direction: row;
    }
    }


section:nth-of-type(even) .landing__container {   
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class>.landing__container>.contain>p {
    color: black;
}


section.your-active-class {
    background-color: #e9ebed;
}


section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}


section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}
